.fc {
    height: auto;
    width: 100%;
}

.fc table {
    font-size: 14px !important;
}

.fc tbody > tr {
    height: auto !important;
    border-bottom: none !important;
}

.fc-list {
    border: none !important;
}

.fc-list-day, .fc-list-day > th {
    border-radius: 5px;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: none;
}

.fc-list-day:hover {
    cursor: default;
}

.fc-list-day > * {
    background-color: white !important;
    color: black;
    z-index: 2;
}

.fc-list-day-cushion {
    background: none;
    border-bottom: 1px solid var(--grey-light) !important;
}

.fc .fc-cell-shaded, .fc .fc-day-disabled {
    background: none;
}

.fc .fc-list-sticky .fc-list-day > * {
    background: none;
}

.fc-list-event{
    transition: background-color 0.2s;
}

.fc-list-event:hover {
    background-color: var(--grey-mediumlight) !important;
}

.fc .fc-list-event-dot {
    border: calc(var(--fc-list-event-dot-width, 10px) / 2) solid var(--blue-primary);
}

.fc .fc-list-event.fc-event-forced-url:hover a {
    transition: color 0.2s;
}

.fc .fc-list-event.fc-event-forced-url:hover a {
    text-decoration: none;
    color: var(--blue-primary);
}

:visited {
    color: black;
}