.fc {
  height: auto;
  width: 100%;
}

.fc table {
  font-size: 14px !important;
}

.fc tbody > tr {
  height: auto !important;
  border-bottom: none !important;
}

.fc-list {
  border: none !important;
}

.fc-list-day,
.fc-list-day > th {
  border-radius: 5px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}

.fc-list-day:hover {
  cursor: default;
}

.fc-list-day > * {
  background-color: white !important;
  color: black;
  z-index: 2;
}

.fc-list-day-cushion {
  background: none;
  border-bottom: 1px solid var(--grey-light) !important;
}

.fc .fc-cell-shaded,
.fc .fc-day-disabled {
  background: none;
}

.fc .fc-list-sticky .fc-list-day > * {
  background: none;
}

.fc-list-event {
  transition: background-color 0.2s;
}

.fc-list-event:hover {
  background-color: var(--grey-mediumlight) !important;
}

.fc .fc-list-event-dot {
  border: calc(var(--fc-list-event-dot-width, 10px) / 2) solid
    var(--blue-primary);
}

.fc .fc-list-event.fc-event-forced-url:hover a {
  transition: color 0.2s;
}

.fc .fc-list-event.fc-event-forced-url:hover a {
  text-decoration: none !important;
  color: var(--blue-primary);
}

.calendar-events .full-calendar .fc-list-day-cushion {
  background-color: transparent;
}

:visited {
  color: black;
}

.fc .fc-toolbar-title {
  font-size: 22px !important;
}

.full-calendar-month .fc .fc-toolbar.fc-header-toolbar {
  margin: 1rem 0;
}

.full-calendar-month .fc .fc-button-primary {
  background-color: var(--blue-primary);
  border-color: var(--blue-primary);
}

.full-calendar-month .fc .fc-button-primary:focus {
  box-shadow: none !important;
}

.fc-theme-standard .fc-scrollgrid {
  border: none !important;
}

.full-calendar-month .fc .fc-scrollgrid-section-header > th {
  border-bottom: 1px solid var(--grey-light) !important;
}

.full-calendar-month .fc .fc-scrollgrid-section-header,
.full-calendar-month .fc .fc-scrollgrid-section-header * {
  height: 22px !important;
}

.full-calendar-month tbody tr:hover {
  background: none !important;
}

.full-calendar-month .fc-day-past:hover,
.full-calendar-month .fc-day-future:hover {
  background-color: #f5f5f5;
}

.full-calendar-month .fc-day-today {
  background-color: var(--blue-light) !important;
}

.full-calendar-month .fc-day-today:hover {
  background-color: var(--blue-light) !important;
}

.full-calendar-month .fc-h-event {
  background-color: var(--blue-primary);
  border: 1px solid var(--blue-primary);
}

.full-calendar-month .fc-h-event:hover {
  filter: brightness(0.9);
}

.full-calendar-month .fc .fc-highlight {
  background-color: #f5f5f5;
}
